#title{
    background-color: #ff4c68;
    color: #fff;
}
.container-fluid{
    padding: 3% 15%;
}
h1{
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
}
h2{
    font-family: "Montserrat-Bold";
    line-height: 1.5;
    font-size: 3rem;
}
h3{
    font-family: "Montserrat-Black";

}
.lastpart{
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
    color: #fff;

}
p{
    color: #8f8f8f;
}
body{
    /* font-family: "Montserrat"; */
}
.navbar-brand{
    font-family:"Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding: 0 0 4.5rem;
}
.nav-item{
    padding-left: 8px;
    padding-right: 8px;
}
.nav-link{
    font-family: "Montserrat-Light";
    font-weight: bold;
    font-size: 1.2rem;
}
.download-button{
    margin: 5% 3% 5% 0;
}
.title-image{
    width:387px;
    margin: 0 0 0 3%;
    transform:rotate(25deg);
    position:absolute;
}
#features{
    padding: 7% 15%;
    position:relative;
    background-color: #fff;
    z-index: 1;
}
.feature-box{
    text-align: center;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}

#press{
    padding-bottom: 3%;
    text-align: center;
    background-color: #ef8172;

}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
#pricing{
    padding: 100px;
    text-align:center;
    /* background-color: #ff4c68; */
}
.pricing-col{
    padding: 3% 2%;
    text-align: center;
}
#cta{
    text-align: center;
    background-color: #ff4c68;
    padding: 7% 15%;
}
.download-button1{
    margin: 5% 1% 5% 0;
}

@media (max-width:1028px){
    .title-image{
        position: static;
        transform:rotate(0);
    }
    #title{
     text-align: center;
    }
}
#footer{
    text-align: center;
    padding: 7% 15%;
}
.social-media{
}
.social-icon {
    margin: 20px 10px;
}
